.about-project {
    max-width: 1140px;
    height: 498px;
    margin: 110px auto 0;
}

.about-project__title {
    color: #000;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    /* margin: 0;*/
}

.about-project__descriptions {
    display: flex;
    gap: 40px;
    margin-top: 70px;
    flex-direction: row;
}

.about-project__description {
    display: flex;
    gap: 26px;
    max-width: 550px;
    width: 100%;
    flex-direction: column;
}

.about-project__description-title {
    color: #000;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    margin: 0;
}

.about-project__description-text {
    color: #000;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    margin: 0;
}

.about-project__plan {
    margin: 110px 0 0;
    display: grid;
    grid-template-rows: 35px 31px;
    grid-template-columns: 20% 80%;
}

.about-project__time {
    height: 36px;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.about-project__week-first {
    background: #3456F3;
    color: #FFF;
}

.about-project__week-fourth {
    background: #F2F2F2;
}

.about-project__task {
    padding-top: 14px;
    color: #A0A0A0;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    /* 121.429% */
    display: inline-flex;
    justify-content: center;
}

@media screen and (max-width: 770px) {
    .about-project {
        padding: 90px 50px 0;
        margin: 0;
    }

    .about-project__descriptions {
        gap: 22px;
    }

    .about-project__description-text {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 321px) {
    .about-project {
        margin-bottom: 70px;
    }

    .about-project__descriptions {
        gap: 16px;
        flex-direction: column;
    }

    .about-project__title {
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .about-project__description-text {
        font-size: 11px;
        line-height: 16px;
    }
}